# Security Rules for Uploads Directory: Prevent Script Execution
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi|exe)$">
    Require all denied
</FilesMatch>

<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

Options -ExecCGI -Indexes
AddHandler default-handler .php .phtml .php5 .py .pl
